<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_grading_scale_b0f18f92001600101671b103187d3d40_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/bundles/js/common/common-c42c6cf71270d3d1383b.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_extlink_f4be3dad58197d50c3b67d18e2710c6c_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_course_35ef69a1c0435a35bc4c98c099fb3217_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_course_materials_a901241d1f201e9c562f393a9ea0037f_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_feeds_36c6f0b2061da514c400c0bc2749b5cf_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_discussion_91b183200ee2813620413c354bb4a612_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_app_6724d33a9e0bd21359c10f8cd7e5dba3_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_enrollment_d28fcd43727a4bd12d822b0baf17c8c4_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_attachment_form_1284270c757f83dd90eaabdea5134e9d_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_course_materials_folders_37ae72e1fc5fe8ac428d1cd17a1b030c_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_edge_3a18eabbc77b53402fffdadf8c0ac591_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_calendar_d4163f51c35e41044425dbd48a309001_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/fullcalendar_d9e2bca7031dbfe3bcc451864977e3e6_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_fcalendar_dde2970bf1c4c10642e0e51120b1d7c5_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_course_reminders_dda39d3c5506bbad730fb943a373cb43_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_event_add_form_aadf85518682a653e8967106e822d7b3_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/mathquill_bba566c4dfdecd491c44a1cb97edb43e_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/s_tinymce_resources_insert_24b20777cbae7fa16c805f2d03a8cf32_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/style_863186f5c0783c84484492b4b906c43f_63e3ece368a66bd3.css">
    <link rel="stylesheet" href="https://asset-cdn.schoology.com/assets/drupal-css-files/sgy-pds-legacy_47aebe52e17b660f12ffcd3f1124f449_63e3ece368a66bd3.css">

    <style>
        a {
            cursor: pointer !important;
        }

        .downloadBtn {
            background-color: #6aed68;
            border-radius: 10px;
            margin-left: 50px;
            height: 49px;
            padding: 14px;
            font-size: 13px;
            cursor: pointer;
        }
    </style>

    <title>Schoology API</title>
</head>
<body>
    
    <script src="../static/bruh.js"></script>

    <div id="root"></div>

</body>
</html>